<div class="novedades-container">
   
    <div class="novedades-content">
        <app-cuadro-cancion class="cuadro1"></app-cuadro-cancion>
        <app-cuadro-cancion class="cuadro2"></app-cuadro-cancion>
        <app-cuadro-cancion class="cuadro3"></app-cuadro-cancion>
        <app-cuadro-cancion class="cuadro4"></app-cuadro-cancion>
        <app-cuadro-cancion class="cuadro5"></app-cuadro-cancion>
        <app-cuadro-cancion class="cuadro6" style="display: none;"></app-cuadro-cancion>
        <app-cuadro-cancion class="cuadro7" style="display: none;"></app-cuadro-cancion>
        <app-cuadro-cancion class="cuadro8" style="display: none;"></app-cuadro-cancion>
        
    </div>
  </div>
