<div class="main-content">
    <h1>Bienvenido a Canciones-Online</h1>
    <p>Aquí encontrarás una gran variedad de canciones para todos los gustos.</p>
    <!-- Puedes añadir más contenido aquí -->
</div>

<div class="menu-horizontal" style="margin: top 50px;">
    <button onclick="location.href='#novedades'">Novedades</button>
    <button onclick="location.href='#descargadas'">+ descargadas</button>
    <button onclick="location.href='#vendidas'">+ vendidas</button>
    <button onclick="location.href='#buscadas'">+ buscadas</button>
</div>
