.cancion {
    width: 280px;
    height: 280px;
    border: 5px solid #270202;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    position: relative;
    
  }
  
  .play-icon {
    width: 80px;
    height: 50px;
    cursor: pointer;
  }
  
  .progress-bar {
    width: 80%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: auto;
    margin-top: 10px;
  }
  
  .progress {
    width: 0;
    height: 100%;
    background-color: #4caf50;
    transition: width 10s linear;
  }