.novedades-container {
    margin-top: 20px;
  }
  
  .novedades-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .novedades-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .cuadro-cancion {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
  .play-icon {
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100vh; 
    width: 80px;
    height: 50px;
    cursor: pointer;

  }