<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CancionesOnline</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  
</head>
<body>
  <app-cabecero></app-cabecero>
  <app-cuerpo></app-cuerpo>
  <section id="novedades"><app-novedades></app-novedades></section>
  <section id="descargadas"><app-mas-descargadas></app-mas-descargadas></section>
  <section id="vendidas"><app-mas-vendidas></app-mas-vendidas></section>
  <section id="buscadas"><app-mas-buscadas></app-mas-buscadas></section>
</body>
</html>
   
        